.job-card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.job-card {
  background-color: #18325a; /* Blue background */
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s; /* updated for smooth color change */
}

.job-card:hover {
  background-color: #1F4A8E; /* lighter blue on hover */
}

.posted-time {
  font-size: 0.8em;
  color: #a0aec0; /* Lighter gray for time */
  margin-bottom: 10px;
}

.job-title {
  font-size: 1.5em;
  color: #ffffff; /* White for title */
  margin-bottom: 10px;
}

.company {
  font-size: 0.9em;
  color: #cbd5e0; /* Lighter gray for company */
  margin-bottom: 15px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #0F2140; /* your dark blue */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}